{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'store' %}" class="btn btn-outline-dark">&#x2190; Continue Shopping</a>
                <br /><br />
                <table class="table">
                    <tr>
                        <th style="text-align: center; vertical-align: middle">
                            <h5>Number of Items: <strong>{{ order.get_total_cart_n_items }}</strong></h5>
                        </th>
                        <th style="text-align: center; vertical-align: middle">
                            <h5>Total Price: <strong>${{ order.get_total_cart_price|floatformat:2|intcomma }}</strong></h5>
                        </th>
                        <th style="text-align: center; vertical-align: middle">
                            <a href="{% url 'checkout' %}" class="btn btn-success">
                                Checkout
                            </a>
                        </th>
                    </tr>
                </table>
            </div>
            <br />
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2"></div>
                    <div style="flex: 2"><strong>Item</strong></div>
                    <div style="flex: 1"><strong>Price</strong></div>
                    <div style="flex: 1"><strong>Quantity</strong></div>
                    <div style="flex: 1"><strong>Total</strong></div>
                </div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2">
                        <img src="{{ item.product.image_url }}" alt="" class="row-image">
                    </div>
                    <div style="flex: 2"><p>{{ item.product.name }}</p></div>
                    <div style="flex: 1"><p>${{ item.product.price|floatformat:2 }}</p></div>
                    <div style="flex: 1">
                        <p class="quantity">x{{ item.quantity }}</p>
                        <div class="quantity">
                            <img data-product="{{ item.product.id }}" data-action="add"
                                 src="{% static 'images/arrow-up.png' %}" alt="" class="update-cart change-quantity">
                            <img data-product="{{ item.product.id }}" data-action="remove"
                                 src="{% static 'images/arrow-down.png' %}" alt="" class="update-cart change-quantity">
                        </div>
                    </div>
                    <div style="flex: 1"><p>${{ item.get_total_price|floatformat:2|intcomma }}</p></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}