{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div id="form-wrapper" class="box-element">
                <form id="form">
                    <div id="user-info">
                        <div class="form-field">
                            <input class="form-control" type="text" name="name" placeholder="Enter your full name" required />
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="email" name="email" placeholder="Enter your email" required />
                        </div>
                    </div>

                    <div id="shipping-info">
                        <hr />

                        <h5>Shipping information</h5>
                        <hr />

                        <div class="form-field">
                            <input class="form-control" type="text" name="address" placeholder="Enter your address" required />
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="city" placeholder="Enter your city" required />
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="state" placeholder="Enter your state" required />
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="zipcode" placeholder="Enter your zipcode" required />
                        </div>
                    </div>
                    <hr />

                    <input type="submit" value="Continue" id="form-button" class="btn btn-success btn-block">
                </form>
            </div>

            <br />
            <div class="box-element hidden" id="payment-info">
                <small>Paypal options</small>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
                <a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Back to Cart</a>
                <hr />

                <h5>Order summary</h5>
                <hr />

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex: 2">
                        <img src="{{ item.product.image_url }}" alt="" class="row-image">
                    </div>
                    <div style="flex: 2"><p>{{ item.product.name }}</p></div>
                    <div style="flex: 1"><p>${{ item.product.price|floatformat:2 }}</p></div>
                    <div style="flex: 1"><p>x{{ item.quantity }}</p></div>
                </div>
                {% endfor %}
                <h5><pre>Number of Items:   {{ order.get_total_cart_n_items }}</pre></h5>
                <h5><pre>Total Price:       ${{ order.get_total_cart_price|floatformat:2 }}</pre></h5>
            </div>
        </div>
    </div>
{% endblock content %}